@use '@/variables' as variables;

.wrapper{
    position: relative;

    h3{
        text-transform: uppercase;
        font-size: 105%;
    }

    .section{
        padding: 0.25em;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-gap: 10px;

        .field{
            flex-grow: 1;

            label{
                margin-top: 0.5em;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }

            input{
                width: 100%;
                border: 1px solid variables.$border;
            }

            input[type="checkbox"]{
                width: auto;
            }

            input, button{
                color: variables.$text;
                margin: 0.25em;
                padding: 5px;
                border-radius: variables.$border-radius-em;
            }
        }
    }

    .footer{
        border-top: 1px solid variables.$border;
        display: flex;
        flex-direction: row-reverse;
        position: sticky;
        width: 100%;
        bottom: 0;
        background-color: variables.$bg;
        flex-grow: 1;
        padding: 10px;

        button{
            border-radius: variables.$border-radius-em;
            padding: 10px;
            background-color: variables.$primary !important;
            color: variables.$on-primary !important;
        }
    }
}